h3 
  | 首页
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !

// START widgets box
.row
  .col-lg-3.col-sm-6
    // START widget
    .panel.widget.bg-primary
      .row.row-table
        .col-xs-3.text-center.bg-primary-dark.pv-lg
          em.fa.fa-shopping-cart.fa-2x
        .col-xs-9.pv-lg
          .h2.mt0 {{dash.statData[0].data[dash.days-1][1] | currency:'¥':0}}
          .text-uppercase 销售收入
  .col-lg-3.col-sm-6
    // START widget
    .panel.widget.bg-purple
      .row.row-table
        .col-xs-3.text-center.bg-purple-dark.pv-lg
          em.fa.fa-tags.fa-2x
        .col-xs-9.pv-lg
          .h2.mt0 {{dash.statData[1].data[dash.days-1][1]}}
            small 件
          .text-uppercase 销售数量
  .col-lg-3.col-md-6.col-sm-12
    // START widget
    .panel.widget.bg-green
      .row.row-table
        .col-xs-3.text-center.bg-green-dark.pv-lg
          em.icon-users.fa-2x
        .col-xs-9.pv-lg
          .h2.mt0 {{dash.statData[2].data[dash.days-1][1] | currency:'¥':0}}
          .text-uppercase 会员储值
  .col-lg-3.col-md-6.col-sm-12
    // START date widget
    .panel.widget
      .row.row-table
        .col-xs-4.text-center.bg-green.pv-lg
          // See formats: https://docs.angularjs.org/api/ng/filter/date
          now.text-sm(format='MMMM')
          br
          now.h2.mt0(format="d")
        .col-xs-8.pv-lg
          now.text-uppercase(format='EEEE')
          br
          now.h2.mt0(format='h:mm')
          now.text-muted.text-sm(format='a')
    // END date widget    
// END widgets box

.row
  // START dashboard main content
  .col-lg-9
    
    // START chart
    .row
      .col-lg-12
        // START widget
        #panelChart9.panel.panel-default
          .panel-heading
            paneltool
            .panel-title 销售统计
          .panel-wrapper(uib-collapse="panelChart9")
            .panel-body
              flot(dataset='dash.splineData', options='dash.splineOptions', height="250px")
        // END widget
    // END chart
    
  // END dashboard main content

  // START dashboard sidebar
  aside.col-lg-3
    
    .panel.panel-default
      .panel-heading
        //- .pull-right.label.label-danger 5
        .pull-right.label.label-success {{dash.checkins.length}}
        .panel-title 到店用户
      
      // START list group
      scrollable.list-group(height="280")
        // START list group item
        a.list-group-item(ng-repeat="checkin in dash.checkins", ui-sref="dash.sell(checkin.member)")
          .media-box
            .pull-left
              img.media-box-object.img-circle.thumb32(ng-src="{{checkin.member.wxuser.headimgurl || 'app/img/dummy.png'}}", alt="Image")
            .media-box-body.clearfix
              small.pull-right {{checkin.created | moment_from_now }}
              strong.media-box-heading.text-primary 
                span.circle.circle-success.circle-lg.text-left
                | {{checkin.member.name || '走入客户'}}
              p.mb-sm: small 积分：{{checkin.member.bonus || 0}} | 储值余额：{{(checkin.member.balance/100 || 0) | currency}}
        // END list group item
      // END list group

  // END dashboard sidebar
