h3 
  | 销售查询
  
.container-fluid(ng-controller="DealsController as deals")
  .panel.panel-default
    .panel-heading
      button.pull-right.btn.btn-purple.btn-sm(ng-click='deals.tableParams.reload()') 刷新
      //- .panel-title Ajax
    table.table(ng-table='deals.tableParams')
      tbody(ng-class="{'whirl standard': deals.tableParams.settings().$loading}")
        tr.text-center(ng-repeat='deal in $data')
          td(data-title="'流水号'") {{deal.serialNumber}}
          td(data-title="'商品总计'") {{deal.totalAmount/100 | currency: '¥'}}
          td(data-title="'折扣金额'") {{deal.discountAmount/100 || 0.00 | currency: '¥'}}
          td(data-title="'销售金额'") {{deal.fee/100 | currency: '¥'}}
          td(data-title="'数量'") {{deal.totalQty}}
          td(data-title="'支付方式'") {{deal.payment.type | payment_type}}
          td(data-title="'顾客'") {{deal.member && deal.member.name || "走入顾客"}}
          td(data-title="'记账日期'") {{deal.created | date:'yyyy-MM-dd HH:mm:ss'}}
