h3 
  | 新增商品
  a(type='button' ui-sref='app.item()').btn.btn-warning.pull-right.mr-sm
    em.fa.fa-arrow-left.fa-fw.mr-sm
    | 取消
// START panel
.panel.panel-default(ng-controller="ItemAddController")
  .panel-heading  新增一种商品
  .panel-body
    form(action='/', method='POST', form-wizard="", validate-steps="true", validate-form="", steps="4")
      .form-wizard.wizard-horizontal
        // START wizard steps indicator
        ol.row
          li.col-md-3(ng-class="{'active':wizard.active(1)}", ng-click="wizard.go(1)")
            h4 商品信息
            small.text-muted 商品的基本信息
          li.col-md-3(ng-class="{'active':wizard.active(2)}", ng-click="wizard.go(2)")
            h4 规格
            small.text-muted 商品的规格信息 
          li.col-md-3(ng-class="{'active':wizard.active(3)}", ng-click="wizard.go(3)")
            h4 完成！
            small.text-muted 确认完成登记的商品
        // END wizard steps indicator

        // START Wizard Step inputs 
        div#step1(ng-show="wizard.active(1)")
          fieldset
            legend 商品信息
            // START row 
            .col-sm-6.col-xs-12
              .form-group
                label 类型 *
                .radio.c-radio.c-radio-nofont
                  label
                    input(type='radio', data-parsley-group="step1", ng-model="entity.type", value="entity", required="")
                    span
                    |  实物商品 
                    small.text-muted (适用服装鞋帽等实物商品零售批发行业)
                .radio.c-radio.c-radio-nofont
                  label
                    input(type='radio', data-parsley-group="step1", ng-model="entity.type", value="service")
                    span
                    |  服务项目
                    small.text-muted (适用参与、美发等服务性行业)
            .col-sm-6.col-xs-12
              .form-group
                label 名称 *
                input.form-control(type='text', ng-model='entity.name', data-parsley-group="step1", required, placeholder="请输入商品名称")
            // END row 
          ul.pager
            li.next
              a(href='#', ng-click="wizard.go(2)")
                | 下一步 
                span &rarr;
        // END Wizard Step inputs 
        // START Wizard Step inputs 
        div#step2(ng-show="wizard.active(2)")
          .row.mb-lg
            .col-xs-3
              strong 图片
            .col-xs-9
              strong 规格详情
          .row.mb-lg.pb-lg.bb(ng-repeat="sku in entity.skus")
            .col-xs-6.col-sm-3
              a(href='#', title='Product 1')
                img.img-responsive(src='app/img/bg7.jpg', alt='Product 1')
            .col-xs-6.col-sm-9
              .col-sm-6.col-xs-12
                p: strong 条码 *
                .form-group
                  input.form-control(type='text', ng-model='sku.barcode', data-parsley-group="step2", required, placeholder="请输入商品条码、编码")
              .col-sm-6.col-xs-12
                p: strong 型号 
                .form-group
                  input.form-control(type='text', ng-model='sku.model', required, placeholder="例如：颜色、尺寸、容量")
              .col-sm-6.col-xs-12
                p: strong 售价 *
                .form-group
                  input.form-control(type='number', ng-model='sku.price', data-parsley-group="step2", required, placeholder="¥0.00")
              .col-sm-6.col-xs-12
                p: strong 折扣
                .form-group
                  input.form-control(type='number', ng-model='sku.discount', placeholder="输入1～100，例如85表示85折")              
              .col-sm-6.col-xs-12
                p: strong 库存
                .form-group
                  input.form-control(type='number', ng-model='sku.stock', placeholder="请输入初始库存的数量")
              .col-sm-6.col-xs-12
                p: strong 备注
                .form-group
                  input.form-control(type='text', ng-model='sku.memo')
              .col-xs-12
                .text-right
                  button.btn.btn-sm.btn-danger(type="button", ng-click="entity.skus.splice($index,1)")
                    em.fa.fa-times-circle.fa-fw
                    | 删除
          ul.pager
            li.previous
              a(href='#', ng-click="wizard.go(1)")
                span &larr; 上一步
            li.middle
              button.btn.btn-success(type="button" ng-click="entity.skus.push({});")
                em.fa.fa-plus-circle.fa-fw
                | 新增型号
            li.next
              a(href='#', ng-click="wizard.go(3)")
                | 下一步 
                span &rarr;
        // END Wizard Step inputs 
        // START Wizard Step inputs 
        div#step3(ng-show="wizard.active(3)")
          .jumbotron
            legend.fa-2x {{entity.name}} - {{entity.type | item_type}}
            .table-responsive
              table.table.table-bordered.table-striped
                thead
                  tr
                    th 条码
                    th 型号
                    th 售价
                    th 折扣
                    th 库存
                    th 备注
                tbody
                  tr(ng-repeat="sku in entity.skus")
                    td {{sku.barcode}} 
                    td {{sku.model}} 
                    td {{sku.price|currency}}
                    td {{sku.discount || "全价"}}
                    td {{sku.stock || 0}}
                    td {{sku.memo}}
          ul.pager
            li.previous
              a(href='#', ng-click="wizard.go(2)")
                span &larr; 上一步
            .pull-right
              a.btn-info.btn-lg(ng-click="save()")
                em.fa.fa-save.fa-fw
                | 保存 
              a.btn-primary.btn-lg(ng-click="wizard.go(1);saveAndMore()")
                em.fa.fa-retweet.fa-fw
                | 保存并新建
        // END Wizard Step inputs 
// END panel 