h3 
  | 会员管理
  button(ng-click='qrcodeService.showQRCode(user.shop.qrcode)').btn.btn-warning.pull-right
    em.fa.fa-qrcode.fa-fw.mr-sm
    | 签到注册
  
.container-fluid
  .panel.panel-default
    .panel-heading
      //- button.pull-right.btn.btn-purple.btn-sm(ng-click='members.tableParams.reload()') Reload
      //- .panel-title Ajax
    table.table(ng-table='members.tableParams')
      tbody(ng-class="{'whirl standard': members.tableParams.settings().$loading}")
        tr.text-center(ng-repeat='member in $data')
          td(data-title="'序号'") {{$index+1}}
          td(data-title="'头像'") 
            img.img-thumbnail(ng-src="{{member.wxuser.headimgurl || 'app/img/user/02.jpg'}}", alt="", width="44", height="44")
          td(data-title="'用户名称'") {{member.name}}
          td(data-title="'等级'") {{member.level || '普通'}}
          td(data-title="'积分'") {{member.bonus || 0}}
          td(data-title="'储值余额'") {{member.balance/100 || 0.00 | currency: '¥'}}
          td(data-title="'微信昵称'") {{member.wxuser.nickname}}
          td(data-title="'性别'") {{member.wxuser.sex | wx_sex}}
          td(data-title="'地区'") {{member.wxuser.province+member.wxuser.city}}
          td(data-title="'登记日期'") {{member.created | date:'yyyy-MM-dd HH:mm:ss'}}
          td(data-title="'操作'")
            .btn-group(uib-dropdown='dropdown')
              a.btn.btn-default(href='', ng-click="members.sell(member)") 记账
              button.btn.dropdown-toggle(type='button', class="btn-default", uib-dropdown-toggle="")
                span.caret
                span.sr-only= type
              ul.dropdown-menu(role='menu')
                li
                  a(href='', ui-sref="app.member({memberId: member.id})") 管理
