h3 
  button(ng-click='dealService.openDeal()').btn.btn-warning.pull-right
    em.fa.fa-plus-circle.fa-fw.mr-sm
    | 新开单
  | 收银记账

.panel
  .panel-body
    .col-md-4.pull-right
      .input-group
        span.input-group-addon
          em.fa.fa-lg.fa-barcode
        input.form-control(type="text", placeholder="请输入商品条码", ng-model="dealService.selectedSku" ui-keypress="{13:'dealService.register()'}", typeahead="sku as sku.item.name for sku in dealService.querySkus($viewValue)")
        span.input-group-btn
          a.btn.btn-primary(ng-click="dealService.register()") 登记
    h3.mt0 采购清单
    hr

    .row.mb-lg
      .col-lg-4.col-xs-6.br.pv
        .row
          a.col-md-2.text-center.visible-md.visible-lg(popover-placement='right', popover-template="sell.templateUrl", popover-title='到店会员', popover-trigger='click')
            script(type="text/ng-template", id="checkinsTemplate.html")
              // START list group
              scrollable.list-group(height="180")
                // START list group item
                a.list-group-item(ng-repeat="checkin in sell.checkins", href='', ng-click="dealService.openDeal(checkin.member)")
                  .media-box
                    .pull-left
                      img.media-box-object.img-circle.thumb32(src="{{checkin.member.wxuser.headimgurl}}")
                    .media-box-body.clearfix
                      strong.media-box-heading.text-primary {{checkin.member.name}}
                      p.mb-sm: small {{checkin.created | moment_from_now }}
                // END list group item
              // END list group
            em.fa.fa-user.fa-4x.text-muted(ng-if="!dealService.deal.member.wxuser.headimgurl")
            img.thumb48.mt0(ng-if="dealService.deal.member.wxuser.headimgurl", src="{{dealService.deal.member.wxuser.headimgurl}}")
          .col-md-10
            .clearfix.ml
              h4.mt0 {{dealService.deal.member && dealService.deal.member.name || '走入客户'}}
            .clearfix.ml
              p.h4
              | {{dealService.deal.member && dealService.deal.member.level || '普通会员'}}
      .col-lg-4.col-xs-6.br.pv
        .row
          .col-md-2.text-center.visible-md.visible-lg
            em.fa.fa-calculator.fa-4x.text-muted
          .col-md-10
            .clearfix.ml
              p.pull-left.mt0.h4 金额总计
              p.pull-right.mt0.h4 {{dealService.countTotal()/100 | currency: '¥'}} 元
            .clearfix.ml
              p.pull-left.h4 商品总计
              p.pull-right.h4 {{dealService.deal.totalQty}} 件
      .clearfix.hidden-md.hidden-lg
        hr
      .col-lg-4.col-xs-12.pv
        .row
          .col-md-2.text-center.visible-md.visible-lg
            em.fa.icon-clock.fa-4x.text-muted
          .col-md-10
            .clearfix.ml
              p.pull-left.mt0.h4 日期
              p.pull-right.mt0.mr.h4 {{dealService.deal.created | date:'yyyy-MM-dd'}}   
            .clearfix.ml
              p.pull-left.h4 时间
              p.pull-right.mr.h4 {{dealService.deal.created | date:'HH:mm:ss'}}
        //- .clearfix
        //-   p.pull-left 流水号
        //-   p.pull-right.mr {{dealService.deal.serialNumber}}
        
      

    .table-responsive.table-bordered.mb-lg
      table.table
        thead
          tr
            th 序号 #
            th 商品描述
            th 型号
            th 数量
            th 单价（元）
            th.text-right 小计(元)
            th.text-right 操作
        tbody
          tr(ng-repeat="entity in dealService.deal.entities")
            td {{$index+1}}
            td {{entity.sku.item.name}}
            td {{entity.sku.model}}
            td {{entity.qty}}
            td {{entity.sku.price/100 | currency: '¥'}}
            td.text-right {{entity.qty*entity.sku.price/100 | currency: '¥'}}
            td.text-right
              a.btn.btn-primary(type="button", ng-click="entity.qty=entity.qty+1")
                em.fa.fa-plus.fa-fw
              a.btn.btn-success(ng-click="dealService.substractOne(entity, $index)")
                em.fa.fa-minus.fa-fw
              a.btn.btn-danger(type="button", ng-click="dealService.deal.entities.splice($index, 1)")
                em.fa.fa-trash.fa-fw

    //- .row
    //-   .col-sm-offset-8.col-sm-4.pv
    //-     .clearfix
    //-       p.pull-left.h3 件数
    //-       p.pull-right.mr.h3 {{dealService.deal.totalQty}}
    //-     .clearfix
    //-       p.pull-left.h3 总计
    //-       p.pull-right.mr.h3 {{dealService.countTotal()/100 | currency: '¥'}}

    hr.hidden-print
    .clearfix
      //- button(type="button").btn.btn-info.pull-left.mr Edit
      //- button(type="button", onclick="window.print();").btn.btn-default.pull-left Print
      button(type="button", ng-click="dealService.deal.totalQty<=0 || dealService.checkout()", ng-class="{'disabled': dealService.deal.totalQty<=0 }").btn.btn-lg.btn-success.pull-right.fa-lg 
        em.fa.fa-shopping-cart.fa-fw.mr-sm
        |结账
      
      
  <!-- Templates -->
  
  script(type="text/ng-template", id="checkoutDialogId")
    .modal-header
      h3 结账
    .modal-body(ng-class="{'whirl standard':submiting}")
      fieldset.mb0.pb0: .form-group
        label.col-md-3.control-label 商品情况  
        .col-md-9
          | 共计{{dealService.deal.totalQty}}件商品      
      fieldset.mb0.pb0: .form-group
        label.col-md-3.control-label 总计金额  
        .col-md-9  
          | {{dealService.deal.totalAmount/100 | currency: '¥' }}  
      fieldset.mb0.pb0: .form-group
        label.col-md-3.control-label 折扣金额  
        .col-md-9  
          | {{dealService.deal.discountAmount/100 | currency: '¥' }}  
      fieldset.mb0.pb0(ng-if="!!dealService.deal.member && user.merchant.enableBonusBid"): .form-group
        label.col-md-3.control-label 积分抵扣  
        .col-md-9  
          | {{dealService.deal.bonusVouchAmount/100 | currency: '¥' }}  
      fieldset.mb0.pb0: .form-group
        label.col-md-3.control-label.fa-2x 应收  
        .col-md-9.fa-2x  
          | {{dealService.deal.fee/100 | currency: '¥' }}  
      fieldset.mb0.pb0: .form-group
        label.col-md-3.control-label 支付方式
        .col-md-9  
          select.form-control(ng-model="dealService.deal.payment.type",  ng-change="dealService.onChangePayType()")
            option(ng-repeat="(val, desc) in dealService.payType", value="{{val}}", ng-if="val !== 'deposit' || !!dealService.deal.member || dealService.deal.member.balance < dealService.deal.fee") {{desc}}
      fieldset.mb0.pb0(ng-if="dealService.deal.payment.type === 'cash'"): .form-group
        label.col-md-3.control-label 抹零
        .col-md-9
          | {{dealService.deal.payment.cost/100 | currency: '¥' }}
      fieldset.mb0: .form-group
        label.col-md-3.control-label 实收金额
        .col-md-9  
          input.form-control(type='number', ng-model="dealService.deal.payment.paid", currency, ng-if="dealService.deal.payment.type === 'cash'", ng-change="dealService.countChange()") 
          span
          span(ng-if="dealService.deal.payment.type !== 'cash'") 
            | {{dealService.deal.payment.amount/100 | currency: '¥'}} 
      fieldset.mb0(ng-if="dealService.deal.payment.type === 'cash'"): .form-group
        label.col-md-3.control-label 找零
        .col-md-9
          | {{dealService.deal.payment.change/100 | currency: '¥'}}
      fieldset.mb0.pb0: .form-group
        label.col-md-3.control-label 备注
        .col-md-9  
          textarea.form-control(row="2", ng-model="dealService.deal.memo")

    .modal-footer
      a.pull-right.btn.btn-default.mr(type='button', ng-click='closeThisDialog()') 取消      
      a.pull-right.btn.btn-primary.mr(ng-class="{disabled:submiting}", ng-click='submiting || confirm()') 确定
  
    