<h3>
   商品管理
   <a type="button" ui-sref="app.item-add()" class="btn btn-warning pull-right mr-sm">
      <em class="fa fa-plus fa-fw mr-sm"></em>新增商品</a>
</h3>
<toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
<form class="panel">
   <uib-tabset justified="true">
      <uib-tab>
         <tab-heading>
            商品库存</tab-heading>
         <div ng-controller="ItemsController as items" class="table-responsive">
            <table ng-table="items.tableParams" class="table table-bordered table-striped">
               <thead>
                  <tr>
                     <th check-all="check-all">
                        <div data-toggle="tooltip" data-title="Check All" class="checkbox c-checkbox">
                           <label>
                              <input type="checkbox" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </th>
                     <th>商品名称</th>
                     <th>条码</th>
                     <th>规格</th>
                     <th>单价</th>
                     <th>库存</th>
                     <th>操作</th>
                  </tr>
               </thead>
               <tbody ng-class="{'whirl standard': items.tableParams.settings().$loading}">
                  <tr ng-repeat="entity in $data" class="text-center">
                     <td>
                        <div class="checkbox c-checkbox">
                           <label>
                              <input type="checkbox" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </td>
                     <td class="text-left">{{entity.item.name}}
                        <br>
                        <div class="text-muted">{{entity.item.type | item_type}}</div>
                     </td>
                     <td>{{entity.barcode || "-"}}</td>
                     <td>{{entity.model || "-"}}</td>
                     <td class="text-info">{{entity.price/100 | currency}}</td>
                     <td>{{entity.inventories[0].balance || 0}}</td>
                     <td>
                        <div uib-dropdown="dropdown" class="btn-group"><a href="" ng-click="items.stock(entity, 'stock')" class="btn btn-default">进货</a>
                           <button type="button" uib-dropdown-toggle="" class="btn dropdown-toggle btn-default">
                              <span class="caret"></span>
                              <span class="sr-only"></span>
                           </button>
                           <ul role="menu" class="dropdown-menu">
                              <li><a href="" ng-click="items.stock(entity, 'stock')">进货</a>
                              </li>
                              <li><a href="" ng-click="items.stock(entity, 'cancel')">出库</a>
                              </li>
                              <li class="divider"></li>
                              <li><a href="" ng-click="items.delete(entity)">删除</a>
                              </li>
                           </ul>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </uib-tab>
      <uib-tab>
         <tab-heading>出入库记录</tab-heading>
         <div ng-controller="StocksController as stocks" class="table-responsive">
            <table ng-table="stocks.tableParams" class="table table-bordered table-striped">
               <tbody ng-class="{'whirl standard': stocks.tableParams.settings().$loading}">
                  <tr ng-repeat="entity in $data" class="text-center">
                     <td data-title="'商品'" class="text-left">{{entity.sku.item.name}}</td>
                     <td data-title="'规格'">{{entity.sku.model || "-"}}</td>
                     <td data-title="'原始数量'">{{entity.originBalance || 0}}</td>
                     <td data-title="'变动数量'" ng-class="entity.qty &lt; 0?'text-success':'text-danger'">{{entity.qty || 0}}</td>
                     <td data-title="'结余数量'">{{entity.originBalance+entity.qty}}</td>
                     <td data-title="'经手人'">{{entity.operator.name || entity.operator.username}}</td>
                     <td data-title="'时间'">{{entity.created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                     <td data-title="'说明'">{{entity.type | stock_type}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </uib-tab>
      <uib-tab>
         <tab-heading>库存盘点</tab-heading>
         <div ng-controller="ItemsController as items" class="table-responsive">
            <table ng-table="items.tableParams" class="table table-bordered table-striped">
               <tbody ng-class="{'whirl standard': items.tableParams.settings().$loading}">
                  <tr ng-repeat="entity in $data" class="text-center">
                     <td data-title="'商品'" class="text-left">{{entity.item.name}}</td>
                     <td data-title="'条码'">{{entity.barcode || "-"}}</td>
                     <td data-title="'规格'">{{entity.model || "-"}}</td>
                     <td data-title="'账面结存'">{{entity.inventories[0].balance || 0}}</td>
                     <td data-title="'上次盘点时间'">{{entity.inventories[0].inventoryAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                     <td data-title="'操作'">
                        <div uib-dropdown="dropdown" class="btn-group"><a href="" ng-click="items.confirm(entity)" class="btn btn-default">确认数量</a>
                           <button type="button" uib-dropdown-toggle="" class="btn dropdown-toggle btn-default">
                              <span class="caret"></span>
                              <span class="sr-only"></span>
                           </button>
                           <ul role="menu" class="dropdown-menu">
                              <li><a href="" ng-click="items.confirm(entity)">确认数量</a>
                              </li>
                              <li><a href="" ng-click="items.stock(entity, 'inventory')">修正数量</a>
                              </li>
                           </ul>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </uib-tab>
   </uib-tabset>
   <!-- Templates -->
   <script type="text/ng-template" id="stockDialogId">
      <div class="modal-header"> <h3>{{ngDialogData.type | stock_type}}</h3></div><div class="modal-body"><fieldset><div class="form-group"><label class="col-md-3 control-label">商品名称  </label><div class="col-md-9"> 
      {{ngDialogData.sku.item.name || "未知商品" }}  </div></div></fieldset><fieldset><div class="form-group"><label class="col-md-3 control-label">现有库存  </label><div class="col-md-9">{{ngDialogData.sku.inventories[0].balance || "0"}}      </div></div></fieldset><fieldset><div class="form-group"><label class="col-md-3 control-label">数量</label><div class="col-md-9"> <input type="number" placeholder="输入进货数量" ng-model="stockQty" class="form-control"/></div></div></fieldset><fieldset><div class="form-group"><label class="col-md-3 control-label">备注</label><div class="col-md-9"> <textarea row="3" ng-model="ngDialogData.memo" class="form-control"></textarea></div></div></fieldset></div><div class="modal-footer"><button type="button" ng-click="closeThisDialog()" class="pull-right btn btn-default mr">取消      </button><button type="button" ng-click="confirm()" class="pull-right btn btn-primary mr">确定</button></div>
   </script>
</form>