<h3>
   商品管理
   <a type="button" ui-sref="app.item-add()" class="btn btn-warning pull-right mr-sm">
      <em class="fa fa-plus fa-fw mr-sm"></em>新增商品</a>
</h3>
<toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
<form class="panel">
   <tabset justified="true">
      <tab>
         <tab-heading>
            商品库存</tab-heading>
         <div ng-controller="ItemsController as ctrl" class="table-responsive">
            <table ng-table="ctrl.tableParams" class="table table-bordered table-striped">
               <thead>
                  <tr>
                     <th check-all="check-all">
                        <div data-toggle="tooltip" data-title="Check All" class="checkbox c-checkbox">
                           <label>
                              <input type="checkbox" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </th>
                     <th>商品名称</th>
                     <th>商品规格</th>
                     <th>单价</th>
                     <th>库存</th>
                     <th>操作</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="entity in $data" class="text-center">
                     <td>
                        <div class="checkbox c-checkbox">
                           <label>
                              <input type="checkbox" />
                              <span class="fa fa-check"></span>
                           </label>
                        </div>
                     </td>
                     <td class="text-left">{{entity.item.name}}
                        <br>
                        <div class="text-muted">{{entity.item.type | item_type}}</div>
                     </td>
                     <td>{{entity.model || "-"}}</td>
                     <td class="text-info">{{entity.price/100 | currency}}</td>
                     <td>{{entity.shopstocks[0].qty || 0}}</td>
                     <td>
                        <div dropdown="dropdown" class="btn-group"><a href="" ng-click="ctrl.stock(entity)" class="btn btn-default">进货</a>
                           <button type="button" dropdown-toggle="" class="btn dropdown-toggle btn-default">
                              <span class="caret"></span>
                              <span class="sr-only"></span>
                           </button>
                           <ul role="menu" class="dropdown-menu">
                              <li><a href="#">进货</a>
                              </li>
                              <li><a href="#">出库</a>
                              </li>
                              <li><a href="#">出入库记录</a>
                              </li>
                              <li class="divider"></li>
                              <li><a href="#">删除</a>
                              </li>
                           </ul>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </tab>
      <tab>
         <tab-heading>出入库记录</tab-heading>
         <div ng-controller="StocksController as stocks" class="table-responsive">
            <table ng-table="stocks.tableParams" class="table table-bordered table-striped">
               <tbody>
                  <tr ng-repeat="entity in $data" class="text-center">
                     <td data-title="'商品'" class="text-left">{{entity.sku.item.name}}</td>
                     <td data-title="'规格'">{{entity.sku.model || "-"}}</td>
                     <td data-title="'类型'">{{entity.type | stock_type}}</td>
                     <td data-title="'数量'">{{entity.qty || 0}}</td>
                     <td data-title="'时间'" class="text-right">{{entity.created*1000 | date}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </tab>
      <tab>
         <tab-heading>库存盘点</tab-heading>
         <div>
            <div class="row mb-lg">
               <div class="col-xs-3">
                  <strong>Preview</strong>
               </div>
               <div class="col-xs-9">
                  <strong>Details</strong>
               </div>
            </div>
            <div class="row mb-lg pb-lg bb">
               <div class="col-xs-6 col-sm-3">
                  <a href="#" title="Product 1">
                     <img src="app/img/bg7.jpg" alt="Product 1" class="img-responsive" />
                  </a>
               </div>
               <div class="col-xs-6 col-sm-9">
                  <fieldset>
                     <div class="form-group">
                        <input type="text" placeholder="Brief description.." class="form-control" />
                     </div>
                  </fieldset>
                  <p>
                     <strong>Picture type</strong>
                  </p>
                  <div class="radio c-radio c-radio-nofont">
                     <label>
                        <input type="radio" name="prod1-pic" value="option1" checked="" />
                        <span></span>Primary</label>
                  </div>
                  <div class="radio c-radio c-radio-nofont">
                     <label>
                        <input type="radio" name="prod1-pic" value="option2" />
                        <span></span>Thumbnail</label>
                  </div>
                  <div class="radio c-radio c-radio-nofont">
                     <label>
                        <input type="radio" name="prod1-pic" value="option3" />
                        <span></span>Gallery</label>
                  </div>
                  <div class="text-right">
                     <button type="button" class="btn btn-sm btn-danger">
                        <em class="fa fa-times-circle fa-fw"></em>Remove</button>
                  </div>
               </div>
            </div>
            <div class="row mb-lg pb-lg bb">
               <div class="col-xs-6 col-sm-3">
                  <a href="#" title="Product 2">
                     <img src="app/img/bg8.jpg" alt="Product 1" class="img-responsive" />
                  </a>
               </div>
               <div class="col-xs-6 col-sm-9">
                  <fieldset>
                     <div class="form-group">
                        <input type="text" placeholder="Brief description.." class="form-control" />
                     </div>
                  </fieldset>
                  <p>
                     <strong>Picture type</strong>
                  </p>
                  <div class="radio c-radio c-radio-nofont">
                     <label>
                        <input type="radio" name="prod2-pic" value="option1" checked="" />
                        <span></span>Primary</label>
                  </div>
                  <div class="radio c-radio c-radio-nofont">
                     <label>
                        <input type="radio" name="prod2-pic" value="option2" />
                        <span></span>Thumbnail</label>
                  </div>
                  <div class="radio c-radio c-radio-nofont">
                     <label>
                        <input type="radio" name="prod2-pic" value="option3" />
                        <span></span>Gallery</label>
                  </div>
                  <div class="text-right">
                     <button type="button" class="btn btn-sm btn-danger">
                        <em class="fa fa-times-circle fa-fw"></em>Remove</button>
                  </div>
               </div>
            </div>
            <div class="row mb-lg pb-lg">
               <div class="col-xs-6 col-sm-3">
                  <a href="#" title="Product 3">
                     <img src="app/img/bg10.jpg" alt="Product 1" class="img-responsive" />
                  </a>
               </div>
               <div class="col-xs-6 col-sm-9">
                  <fieldset>
                     <div class="form-group">
                        <input type="text" placeholder="Brief description.." class="form-control" />
                     </div>
                  </fieldset>
                  <p>
                     <strong>Picture type</strong>
                  </p>
                  <div class="radio c-radio c-radio-nofont">
                     <label>
                        <input type="radio" name="prod3-pic" value="option1" checked="" />
                        <span></span>Primary</label>
                  </div>
                  <div class="radio c-radio c-radio-nofont">
                     <label>
                        <input type="radio" name="prod3-pic" value="option2" />
                        <span></span>Thumbnail</label>
                  </div>
                  <div class="radio c-radio c-radio-nofont">
                     <label>
                        <input type="radio" name="prod3-pic" value="option3" />
                        <span></span>Gallery</label>
                  </div>
                  <div class="text-right">
                     <button type="button" class="btn btn-sm btn-danger">
                        <em class="fa fa-times-circle fa-fw"></em>Remove</button>
                  </div>
               </div>
            </div>
         </div>
      </tab>
   </tabset>
   <!-- Templates -->
   <script type="text/ng-template" id="stockDialogId">
      <div class="modal-header"> <h3>进货</h3></div><div class="modal-body"><fieldset><div class="form-group"><label class="col-md-3 control-label">商品名称  </label><div class="col-md-9"> 
      {{ngDialogData.sku.item.name || "未知商品" }}  </div></div></fieldset><fieldset><div class="form-group"><label class="col-md-3 control-label">现有库存  </label><div class="col-md-9">{{ngDialogData.sku.shopstocks[0].qty || "0"}}      </div></div></fieldset><fieldset><div class="form-group"><label class="col-md-3 control-label">进货数量</label><div class="col-md-9"> <input type="number" placeholder="输入进货数量" ng-model="stockQty" class="form-control"/></div></div></fieldset><fieldset><div class="form-group"><label class="col-md-3 control-label">备注</label><div class="col-md-9"> <textarea row="3" class="form-control"></textarea></div></div></fieldset></div><div class="modal-footer"><button type="button" ng-click="closeThisDialog()" class="pull-right btn btn-default mr">取消      </button><button type="button" ng-click="confirm()" class="pull-right btn btn-primary mr">确定</button></div>
   </script>
</form>