<h3>
   新增商品
   <a type="button" ui-sref="app.item()" class="btn btn-warning pull-right mr-sm">
      <em class="fa fa-arrow-left fa-fw mr-sm"></em>取消</a>
</h3>
<!-- START panel-->
<div ng-controller="ItemAddController" class="panel panel-default">
   <div class="panel-heading">新增一种商品</div>
   <div class="panel-body">
      <form action="/" method="POST" form-wizard="" validate-steps="true" validate-form="" steps="4">
         <div class="form-wizard wizard-horizontal">
            <!-- START wizard steps indicator-->
            <ol class="row">
               <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-3">
                  <h4>商品信息</h4>
                  <small class="text-muted">商品的基本信息</small>
               </li>
               <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-3">
                  <h4>规格</h4>
                  <small class="text-muted">商品的规格信息</small>
               </li>
               <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-md-3">
                  <h4>完成！</h4>
                  <small class="text-muted">确认完成登记的商品</small>
               </li>
            </ol>
            <!-- END wizard steps indicator-->
            <!-- START Wizard Step inputs -->
            <div id="step1" ng-show="wizard.active(1)">
               <fieldset>
                  <legend>商品信息</legend>
                  <!-- START row -->
                  <div class="col-sm-6 col-xs-12">
                     <div class="form-group">
                        <label>类型 *</label>
                        <div class="radio c-radio c-radio-nofont">
                           <label>
                              <input type="radio" data-parsley-group="step1" ng-model="entity.type" value="entity" required="" />
                              <span></span>实物商品
                              <small class="text-muted">(适用服装鞋帽等实物商品零售批发行业)</small>
                           </label>
                        </div>
                        <div class="radio c-radio c-radio-nofont">
                           <label>
                              <input type="radio" data-parsley-group="step1" ng-model="entity.type" value="service" />
                              <span></span>服务项目
                              <small class="text-muted">(适用参与、美发等服务性行业)</small>
                           </label>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                     <div class="form-group">
                        <label>名称 *</label>
                        <input type="text" ng-model="entity.name" data-parsley-group="step1" required="required" placeholder="请输入商品名称" class="form-control" />
                     </div>
                  </div>
                  <!-- END row -->
               </fieldset>
               <ul class="pager">
                  <li class="next"><a href="#" ng-click="wizard.go(2)">下一步 <span>&rarr;</span></a>
                  </li>
               </ul>
            </div>
            <!-- END Wizard Step inputs -->
            <!-- START Wizard Step inputs -->
            <div id="step2" ng-show="wizard.active(2)">
               <div class="row mb-lg">
                  <div class="col-xs-3">
                     <strong>图片</strong>
                  </div>
                  <div class="col-xs-9">
                     <strong>规格详情</strong>
                  </div>
               </div>
               <div ng-repeat="sku in entity.skus" class="row mb-lg pb-lg bb">
                  <div class="col-xs-6 col-sm-3">
                     <a href="#" title="Product 1">
                        <img src="app/img/bg7.jpg" alt="Product 1" class="img-responsive" />
                     </a>
                  </div>
                  <div class="col-xs-6 col-sm-9">
                     <div class="col-sm-6 col-xs-12">
                        <p>
                           <strong>条码 *</strong>
                        </p>
                        <div class="form-group">
                           <input type="text" ng-model="sku.barcode" data-parsley-group="step2" required="required" placeholder="请输入商品条码、编码" class="form-control" />
                        </div>
                     </div>
                     <div class="col-sm-6 col-xs-12">
                        <p>
                           <strong>型号</strong>
                        </p>
                        <div class="form-group">
                           <input type="text" ng-model="sku.model" required="required" placeholder="例如：颜色、尺寸、容量" class="form-control" />
                        </div>
                     </div>
                     <div class="col-sm-6 col-xs-12">
                        <p>
                           <strong>售价(单位：分) *</strong>
                        </p>
                        <div class="form-group">
                           <input type="number" ng-model="sku.price" data-parsley-group="step2" required="required" placeholder="¥0.00" class="form-control" />
                        </div>
                     </div>
                     <div class="col-sm-6 col-xs-12">
                        <p>
                           <strong>折扣</strong>
                        </p>
                        <div class="form-group">
                           <input type="number" ng-model="sku.discount" placeholder="输入1～100，例如85表示85折" class="form-control" />
                        </div>
                     </div>
                     <div class="col-sm-6 col-xs-12">
                        <p>
                           <strong>库存</strong>
                        </p>
                        <div class="form-group">
                           <input type="number" ng-model="sku.stockQty" placeholder="请输入初始库存的数量" class="form-control" />
                        </div>
                     </div>
                     <div class="col-sm-6 col-xs-12">
                        <p>
                           <strong>备注</strong>
                        </p>
                        <div class="form-group">
                           <input type="text" ng-model="sku.memo" class="form-control" />
                        </div>
                     </div>
                     <div class="col-xs-12">
                        <div class="text-right">
                           <button type="button" ng-click="entity.skus.splice($index,1)" class="btn btn-sm btn-danger">
                              <em class="fa fa-times-circle fa-fw"></em>删除</button>
                        </div>
                     </div>
                  </div>
               </div>
               <ul class="pager">
                  <li class="previous">
                     <a href="#" ng-click="wizard.go(1)">
                        <span>&larr; 上一步</span>
                     </a>
                  </li>
                  <li class="middle">
                     <button type="button" ng-click="entity.skus.push({});" class="btn btn-success">
                        <em class="fa fa-plus-circle fa-fw"></em>新增型号</button>
                  </li>
                  <li class="next"><a href="#" ng-click="wizard.go(3)">下一步 <span>&rarr;</span></a>
                  </li>
               </ul>
            </div>
            <!-- END Wizard Step inputs -->
            <!-- START Wizard Step inputs -->
            <div id="step3" ng-show="wizard.active(3)">
               <div class="jumbotron">
                  <legend class="fa-2x">{{entity.type | item_type}} - {{entity.name}}</legend>
                  <div class="table-responsive">
                     <table class="table table-bordered table-striped">
                        <thead>
                           <tr>
                              <th>条码</th>
                              <th>型号</th>
                              <th>售价</th>
                              <th>折扣</th>
                              <th>库存</th>
                              <th>备注</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="sku in entity.skus">
                              <td>{{sku.barcode}}</td>
                              <td>{{sku.model}}</td>
                              <td>{{sku.price/100|currency}}</td>
                              <td>{{sku.discount || "全价"}}</td>
                              <td>{{sku.stock || 0}}</td>
                              <td>{{sku.memo}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <ul class="pager">
                  <li class="previous">
                     <a href="#" ng-click="wizard.go(2)">
                        <span>&larr; 上一步</span>
                     </a>
                  </li>
                  <div class="pull-right">
                     <a ng-click="save()" class="btn-info btn-lg">
                        <em class="fa fa-save fa-fw"></em>保存</a>
                     <a ng-click="wizard.go(1);saveAndMore()" class="btn-primary btn-lg">
                        <em class="fa fa-retweet fa-fw"></em>保存并新建</a>
                  </div>
               </ul>
            </div>
            <!-- END Wizard Step inputs -->
         </div>
      </form>
   </div>
</div>
<!-- END panel -->