<h3>
   <button type="button" class="btn btn-primary pull-right">
      <em class="fa fa-plus-circle fa-fw mr-sm"></em>新开单</button>收银记账</h3>
<div ng-controller="SellController as sell" class="panel">
   <div class="panel-body">
      <div class="col-md-4 pull-right">
         <div class="input-group">
            <span class="input-group-addon">
               <em class="fa fa-lg fa-barcode"></em>
            </span>
            <input type="text" placeholder="请输入商品条码" ng-model="sell.selectedSku" ui-keypress="{13:'sell.register()'}" typeahead="sku as sku.item.name for sku in sell.fetchSkus($viewValue)" class="form-control" />
            <span class="input-group-btn"><a type="button" class="btn btn-default">登记</a>
            </span>
         </div>
      </div>
      <h3 class="mt0">采购清单</h3>
      <hr/>
      <div class="row mb-lg">
         <div class="col-lg-4 col-xs-6 br pv">
            <div class="row">
               <div class="col-md-2 text-center visible-md visible-lg">
                  <em class="fa fa-plane fa-4x text-muted"></em>
               </div>
               <div class="col-md-10">
                  <h4>Bill Mitchelle</h4>
                  <address></address>Nowhere 1024
                  <br/>Happy St., 50487
                  <br/>Neverland</div>
            </div>
         </div>
         <div class="col-lg-4 col-xs-6 br pv">
            <div class="row">
               <div class="col-md-2 text-center visible-md visible-lg">
                  <em class="fa fa-truck fa-4x text-muted"></em>
               </div>
               <div class="col-md-10">
                  <h4>Lloyd Gonzales</h4>
                  <address></address>Basilisa 2145
                  <br/>Mate, Cliff., 20145
                  <br/>Moon</div>
            </div>
         </div>
         <div class="clearfix hidden-md hidden-lg">
            <hr/>
         </div>
         <div class="col-lg-4 col-xs-12 pv">
            <div class="clearfix">
               <p class="pull-left">INVOICE NO.</p>
               <p class="pull-right mr">00004879</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Date</p>
               <p class="pull-right mr">25/08/2014</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Due Date</p>
               <p class="pull-right mr">30/08/2014</p>
            </div>
         </div>
      </div>
      <div class="table-responsive table-bordered mb-lg">
         <table class="table">
            <thead>
               <tr>
                  <th>序号 #</th>
                  <th>商品描述</th>
                  <th>数量</th>
                  <th>单价（元）</th>
                  <th class="text-right">小计(元)</th>
                  <th class="text-right">操作</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="entity in sell.entities">
                  <td>{{$index+1}}</td>
                  <td>{{entity.sku.item.name}}</td>
                  <td>{{entity.qty}}</td>
                  <td>{{entity.sku.price/100}}</td>
                  <td class="text-right">{{entity.qty*entity.sku.price/100 | currency: '¥'}}</td>
                  <td class="text-right">
                     <a class="btn btn-primary">
                        <em class="fa fa-plus fa-fw"></em>
                     </a>
                     <a class="btn btn-success">
                        <em class="fa fa-minus fa-fw"></em>
                     </a>
                     <a type="button" class="btn btn-danger">
                        <em class="fa fa-trash fa-fw"></em>
                     </a>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="row">
         <div class="col-sm-offset-8 col-sm-4 pv">
            <div class="clearfix">
               <p class="pull-left">Subtotal</p>
               <p class="pull-right mr">$ 10300</p>
            </div>
            <div class="clearfix">
               <p class="pull-left">Tax (21%)</p>
               <p class="pull-right mr">$ 2700</p>
            </div>
            <div class="clearfix">
               <p class="pull-left h3">总计</p>
               <p class="pull-right mr h3">{{sell.countTotal()/100 | currency: '¥'}}</p>
            </div>
         </div>
      </div>
      <hr class="hidden-print" />
      <div class="clearfix">
         <button type="button" class="btn btn-info pull-left mr">Edit</button>
         <button type="button" onclick="window.print();" class="btn btn-default pull-left">Print</button>
         <button type="button" class="btn btn-success pull-right">Send Invoice</button>
      </div>
   </div>
</div>